.r3t-hello {
  //my-list:first-child{
  //  .bylh-my-list {
  //    background-color: beige;
  //  }
  //}
  .box {
    display:inline-block;
    background: red;
    width: 100px;
    height: 100px;
    //float: left;
    margin: 20px;
    color: white;
  }
  #two {
    background-color:blue;
    //top: 80px;
    //left: 20px;
    text-align: center;
    border: solid red;
    //padding: 20px;
  }

  //align-items: center;
  //text-align: center;
  //.card-datas {
  //  color: #828384;
  //  font-size: 1.0rem;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: space-between;
  //}
}