<ion-content class="r3t-hello">
    <ion-title *ngIf="true">
        {{test}}
    </ion-title>
    <button ion-button block (click)="modalToPage()">弹出页面</button>
    <button ion-button block (click)="pushToSubPage()">SubPage</button>
    <button ion-button block (click)="changeTab()">ChangeTab</button>
    <login-buttons></login-buttons>
    <button ion-button (click)="logout()"><ion-icon name="share-alt"></ion-icon>登出</button>

    <my-list [items]="[{
         title: 'first',
         content: 'test1'
         },{
         title: 'second',
         content:'test2'
         },{
         title: 'third',
         content:'test3'
         }]"></my-list>
</ion-content>
