<ion-header>
    <ion-navbar>
        <ion-title>
            发现详情
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="r3t-pages-discovery-detail">
    <ion-list>
        <ion-item>
            <ion-row>
                <ion-col class="col-img">
                    <img class="card-img" src="img/img.jpg">
                </ion-col>

                <ion-col class="info">
                    <h2 text-center>黄沙古</h2>

                    <ion-item>
                        <ion-avatar item-left>
                            <img src="img/img.jpg">
                        </ion-avatar>
                        <h3>李沐远</h3>
                    </ion-item>
                    <p text-center>哈哈哈</p>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-list (click)="switchTruncatedState()">
        <ion-item text-wrap>
            <p #myTest class="description" [ngClass]="{truncate: isTruncated}" style="line-height: 20px;">
                测试文字展开自动收起
            </p>
            <!--<ion-buttons end>-->
            <button no-margin ion-button clear small block *ngIf="buttonExist && isTruncated">
                <ion-icon icon-only clear small name="ios-arrow-down-outline"></ion-icon>
            </button>
            <button no-margin ion-button clear small block *ngIf="buttonExist && !isTruncated">
                <ion-icon icon-only clear small name="arrow-up"></ion-icon>
            </button>
            <!--</ion-buttons>-->
        </ion-item>
    </ion-list>
</ion-content>
