.r3t-pages-discovery-detail {
  p{
    line-height: 16px;
  }
.test {
  background-color: green;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
  //.description {
  //  margin-top: 0; // remove the default margin-top
  //  @include multiline-ellipsis-original($route-description-font-size, $route-description-line-height, $route-description-line-to-show);
  //  .truncate {
  //    text-overflow: ellipsis;
  //    @include multiline-ellipsis-truncated($route-description-font-size, $route-description-line-height, $route-description-line-to-show);
  //  }
  //}

  .col-cover{
    max-width:161.4px;
    max-height:161px;
    .cover{
      width:100%;
      height:100vw;
      //border-bottom:$r3t-line-border;
    }
  }
  .col-info{
    //max-height:40vw;
  }

}
